.calendar {
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
    padding: 2rem;
    border-radius: 8px;

}

.calendar-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CALENDAR-HEADER-TITLE{
    color: aquamarine;
    font-size: 11px;
}

.calendar-header-arrow{
font-size: 8px;
cursor: pointer;
}
.calendar-header-arrow.right{
    font-size: 8px;
    cursor: pointer;
}

.calendar-dow{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-dow-day{
    font-weight: 600;
    color: blue;
}