

/* Colors ROOT */
:root{
    --lightgrey: #DCE3E6;
    --primary: #363c45;
    --rightpanel: rgb(104, 118, 150);
   --radial:  rgb(241, 244, 247);
    /* --leftpanel: rgb(141,158,197);
    background: linear-gradient(282deg, rgb(141, 152, 178) 0%, rgba(207,213,221,1) 23%, #839cc1 89%); */
    --lightblue: #F8EEED;
    --greenblue: #F8EEED;
    --beigeish: #dfd8dc;
    --lightwhite: #EBECEB;
    --lightpink: #FFE4E2;
    --blue:#79BEEF;
    --background:#f1f5f9;
    /* --midsection: background: rgb(240,242,249); */
     /* background: linear-gradient(302deg, rgba(240,242,249,1) 0%, rgb(231, 215, 231) 18%, rgb(227, 237, 245) 42%, rgb(242, 220, 229) 59%, rgb(235, 240, 248) 75%); */


}
.illustration-doc{
    background-image: url(../assets/images/morning-msg-img.svg);
    background-size: cover;
    height: 260px;
    width: 260px;
    margin-top: 20px;
    background-repeat: no-repeat;
    border-radius: 130px;
}
.doctor-page-main-dash{
    /* background: #f9f0f9; */
    height: 100vh !important;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 5 !important;
    border-radius: 50px;
    /* background-color: var(--background); */
}
.list-group-item{
    padding-bottom: 10px;
}
.add-doctor-panel{
    background-color: #d9d4e7;
    height: 100vh !important;
    width: 25%;
    float: right;
display: block;
}
.doctor-profiles{
   display: block;
margin-right: 40%x;
}
.doctor1{
    height: 350px;
    width: 250px !important;
    background-color: aqua;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 1px 4px rgba(137, 137, 137, 0.6);
    background-color: #AEE1EE;
}
.doctor1-pfp{
    padding-top: 10px;
    margin-top: 10px;
    background-image: url(../assets/images/dentist-1.jpeg);
    background-size: cover;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50px;
    text-align: center;
}
.doctor2-pfp{
    padding-top: 10px;
    margin-top: 10px;
    background-image: url(../assets/images/dentist-2.jpeg);
    background-size: cover;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50px;
    text-align: center;
}
.card {
    height: 225px;
    width: 258px !important;
    background-color: #dfd8dc;
    border-radius: 20px;
    margin-left: 290px;
    margin-top: 30px;
    box-shadow: 0 1px 4px rgb(137 137 137 / 60%);
}
.dr-1{
    margin-left: 500px !important;
    float: left;
}
.dr-2{
    float: left;
    margin-left: 310px !important;

}
.dr-3{
    float: left;
    margin-top: 380px;
    margin-left: 1px;
}
.doctor1 ,.card{
    display: table-row !important; 
    grid-row: 1fr 1fr 1fr !important;
    height: 350px !important;
    margin-left: -200px;
    width: 250px !important;
}
.doctor2, .card{
    display: table-row !important;
    grid-row: 1fr 1fr 1fr !important;
    width: 250px !important;
    height: 350px !important;
}
.doctor3, .card{
    display: table-row;
    float: right !important;
    height: 350px !important;
    margin-right: -200px !important;
    width: 250px !important;
}
.doctor3-pfp{
    padding-top: 10px;
    margin-top: 10px;
    background-image: url(../assets/images/r3.png);
    background-size: cover;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50px;
    text-align: center;
}
.card-text, .card-title, .spes{
text-align: center;
font-family: 'Nanum Gothic', sans-serif !important;
margin-top: 10px;
margin-left: -10px;
}
.list-group-flush{
    font-size: 10px;
    font-family: 'Nanum Gothic', sans-serif !important;
}

/* .card .dr2, .doctor2{
    float: left;
    margin-left: 600px;
    margin-top: -350px;
    box-shadow: 0 1px 4px rgba(137, 137, 137, 0.6);
    background-color: #AEE1EE;
} */
.form-control{
    align-items: center;
    margin-top: 20px;
    margin-right: 60px;
}

.doc-name-input{
    width: 120px !important;
    margin-top: 20px;
    margin-left: 160px;
border: 1px solid #a2a3a3;
float: left;
}
.doc-surname-input{
    border: 1px solid #a2a3a3;
    float: left;
    width: 120px !important;
    margin-left: 15px;
    margin-top: -25px;
}
.spes-input{
    border: 1px solid #a2a3a3;
    width: 264px !important;
 text-align: center;
 align-items: center;
 float: left;
 margin-left: 13px !important;
 align-content: center;
}
.doc-email-input{
    border: 1px solid #a2a3a3;
    float: left;
    margin-left: 18px;
}
.doc-pass{
    float: left;
    border: 1px solid #a2a3a3;
    margin-left: 18px;
}
.doc-number-input{
    border: 1px solid #a2a3a3;
    float: left;
    margin-left: 20px;
}
.doc-age{
    border: 1px solid #a2a3a3;
    float: left;
    width: 90px !important;
    margin-top: -25px;
    margin-left: 180px;
}
h2{
    font-family: 'Nanum Gothic', sans-serif !important;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.doc-gender{
    border: 1px solid #a2a3a3;
    float: left;
    width: 90px !important;
    margin-top: -70px;
    margin-left: 180px;
}
.add-new-doc{
background-color: #ffffff;
border: 1px solid #FF707F;
float: left;
margin-top: 20px;
width: 100px;
height: 35px;
margin-left: 100px;
}
h2.doctor-h2{
 width: 100px;
    margin-left: 50px;
}
.add-new-doc:hover{
    background-color: #FF707F;
    float: left;
    margin-top: 20px;
    width: 100px;
    height: 35px;
    margin-left: 100px;
    }
.doctor-form{
    margin-top: 10px;
    margin-left: 30px;
background-color: #ffffff;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 1px 4px #868586;
    text-align: center;
    align-items: center;
} 