* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monstserrat, serif;
    height: auto;
    width: auto;
}

 
    /* height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240,242,249);
     background: linear-gradient(302deg, #6e4eed92 0%, #7b21e870 11%, #908ff1 32%, #8981d0 59%, rgba(99, 70, 244, 0.435) 75%); */

.LoginForm{
    height: 90vh;
 
}
.login, button{
    /* background-color: #745dea; */
    border: 1px solid #745dea;
    cursor: pointer;
    border-radius: 20px;
    width: 200px;
    align-self: flex-start;
    align-content: center;
    margin-top: 20px;
    height: 30px !important;
    margin-left: 30px;
}
.login:hover{
    /* background-color:#FF707F ; */
       background-color: #745dea;
}
input{
    appearance: none;
    background: none;
    border: 1px solid #745dea;
    cursor: pointer;
    border-radius: 20px;
    width: 200px;
    align-self: flex-start;
    align-content: center;
}
p{
    font-size: 9px;
    margin-left: 90px;
    margin-top: 30px;
}
input#name{
    margin-left: 50px;
}
input#email{
    margin-left: 50px;
}
input#password{
    margin-left: 22px;
}
label{
    font-family: 'Karla', sans-serif;
    padding-right: 30px;
    align-items:center;
}
.name, .email, .password{
    padding-top: 20px;

}
form{
    border-radius: 50px;
    display: block;
    position: relative;

    height: 89vh !important;
    margin-top: 100px;
    border-radius: 50px !important;

}

form::after{
 

    border-radius: 50px;
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
   
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FF707F, #f0f2f9ef);
    align-items: center;
    width: 100vw;
    margin-top: -150px;
}
h2{
    font-family: 'Karla', sans-serif;
}
.login-svg{
    margin-top: -280px;
    padding-top: 30px;
    float: left;
    height: 250px !important;
    width: 250px ;
    background-image: url(../assets/images/login.svg);
    background-repeat: no-repeat;
    margin-left: -450px;
    background-size: cover;
}
hr{
    width: 370px !important;
    height: 3px !important;
    border: 10px; 
    top: 20px;
    margin-left: -500px;
    margin-top: -60px;
}
.slogan{
    font-family: 'Karla'; 
    font-size: 16px;
margin-left: -491px
}
/* .login-svg{
    background-image: url(../assets/images/morning-msg-img.svg);
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    float: left;
    margin-top: -200px;
} */

.inner{
    padding-top: 100px;

    float: right;
    margin-right: 100px;
}

form .form-inner{
    padding-top:200px ;
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px;
    z-index: 2;
    height: 70vh;
    width: 70vw;
    margin-left: 17% !important;
    border-radius: 50px;
    margin-top: 6%;
    box-shadow:  2px 2px 2px #8b9fc3a7,
    -1px -1px 1px #ffffff;
}