.add-patient {
    background: linear-gradient(324deg, #e4ecf6b8 7%, 
    #f5e4ef93 50%,#e4ecf6aa 100%);
    border-top-left-radius: 20px;
    border: 1px solid #f0f6ff;
    border-bottom-left-radius: 20px;
}

.patient-page {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    height: 100vh;
}

.patient-view {
    margin: 0 64px 0 64px;
}

.patients-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    height: 82vh;
    align-items: top;
    overflow-y: scroll;
  
}

.patient-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 270px;
    place-items: center;
    border-radius: 30px !important;
    border: 1px solid #e8e7e7c6;
    width: 200px;
    background-color: #fffffff1;
    box-shadow: rgba(182, 182, 185, 0.127) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.163) 0px 18px 36px -18px inset;
}

.button-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
    padding: 16px;
}

.patient-profile-picture {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin: 16px;
    image-rendering: crisp-edges;
}

.icon-button {
    cursor: pointer;
    height: 15px;
}

.title {
    padding-top: 16px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 0 8px 0 8px;
    padding-top: 16px;
}

.plus-title {
    padding-top: 20px;
    margin: 0 16px 0 16px;
    color: #FC7F8B;
}
/* apt dents reps self */

.h6-patients {
    font-size: 14px;
}

.card-text-patients {
    font-size: 10px;
}

.patient-form-inputs {
    padding-left: 8px;
    height: 30px;
    color: rgb(206, 206, 206);
    border-radius: 20px;
    border: 1px solid rgb(205, 204, 204);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}



.patient-form-inputs-add-btn{
    padding: 8px;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid rgb(205, 204, 204);
    background-color: #fff;
    margin-left: 100px;
    font-family: 'Roboto', sans-serif;
}
.patient-form-inputs-add-btn:hover{
    padding: 8px;
    height: fit-content;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid rgb(205, 204, 204);
    background-color: rgb(94, 175, 246);
    margin-left: 100px;
}

.plus-patient-span {
    color: #6e6e6e;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0 16px 0 16px;
}