.patient-page-main-dash{
    width: 99vw;
    height: 99vh;
    overflow-y: hidden;
}
.add-patient-h2, h2{
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: -90px;
}
.patients, .patient-profiles{
    display: block;

}
.add-patient-form{
    background-color: #d9d4e7;
}
.p-name-input{
    float: left;
    margin-left: 40px;
}
.p-surname-input{
    float: left;
    margin-left: 200px;
    margin-top: -21px;
}

.aid-input{
    float: left;
    margin-left: 40px;
}

.p-email-input{
    float: left;
    margin-left: 200px;
    margin-top: -21px;
}

.p-pass{
    float: left;
    margin-left: 40px;
}
.p-age{
    float: left;
    margin-left: 200px;
    margin-top: -21px;
}

.p-gender{
    float: left;
    margin-left: 40px;
}
.p-number-input{
    float: left;
    margin-left: 200px;
    margin-top: -21px;
}
.add-new-doc{
    float: right;
    background-color: #ffffff;
    border: 2px solid #9b7ded;
    margin-right: 60px;
}
.pp{
    margin-left: -20px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.add-patient-h2{
    margin-left: 60px;
}
h1{

margin-right: 550px;
    margin-top: 50px;
    margin-bottom: -20px;
}
.medaid{
    text-align: center;
font-family: 'Nanum Gothic', sans-serif !important;
margin-top: 10px;
margin-left: -5px;
}
.p1{
    display: block;
}
.pfp1{
    background-image: url(../assets/images/female1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}

.pfp2{
    background-image: url(../assets/images/male1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}
.pfp3{
    background-image: url(../assets/images/female5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}
.pfp4{
    background-image: url(../assets/images/male2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}
.pfp5{
    background-image: url(../assets/images/female6.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 50px;
    margin-top: 5px;
}
.pfp6{
    background-image: url(../assets/images/female7.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50px;
    text-align: center;
    margin-left: 40px;
    margin-top: 5px;
}
.add-patient-panel{
    background-color: #d9d4e7;
    height: 100vh;
    width: 28%;
    float: right;

    margin-top: -54%;
}

/* shanre */
.p1{
    float: left;
    margin-left: 170px;
    height: 100px;
    max-height: 270px;
    max-width: 200px;
}
/* jakbus */
.p2{
    float: left;
  margin-left: 120px;
  max-width: 200px;
  max-height: 270px;
}
/* muneeba */
.p3{
    float: left;
  margin-left: 120px;
  max-width: 200px;
  max-height: 270px;
}
/* emil */
.p4{
margin-left: -10px;
margin-top: 160px;
float: left;
max-width: 200px;
max-height: 270px;
}
/* tersia */
.p5{
    float: left;
    margin-top: 160px;
  margin-left:-240px;
  max-width: 200px;
  max-height: 270px;
}
/* megan */
.p6{
    float: left;
    margin-top: 160px;
    margin-left:-480px;
    max-width: 200px;
    max-height: 270px;
}
.list-group-flush{
    margin-top: -10px;
}